
{% extends 'main.html' %}
{% load staticfiles %}

{% block article %}
<div class="row">
    <div class="large-6 large-centered columns">
      <p><img src="{% static "New.png" %}"></p>
      <!-- large center image -->
    </div>
  </div>
<hr>
<div class="row">
{% for article in articles %}
   
         <div class="large-3 columns">
            
            <a href="http://127.0.0.1:8000/articles/get/{{article.id}}/"><img src="{{article.article_image.url}}" width="150" height="150"/></a>
            <h5><a href="http://127.0.0.1:8000/articles/get/{{article.id}}/">{{article.article_title}}</a></h5>
            <h6>{{article.article_text}}</h6>
            <hr>
         </div>
  
{% endfor %}     
</div> 

<div class="row">
    <div class="large-8 large-centered columns"> 
        <p><font size="2" color="black" face="Arial">© 2014 SoZo, Inc. All rights reserved.</font></p>
    </div>    
</div>  

{% endblock %}

